# top-most EditorConfig file
root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
charset = latin1
indent_style = space
indent_size = 4

[*.{cc,h}]
charset = UTF-8

[*.yml]
indent_style = space
indent_size = 2

[CMakeLists.txt]
indent_style = space
indent_size = 2

[*.cmake]
indent_style = space
indent_size = 2
